.div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 23px 0 12px 0;
    border-bottom: 1px solid gray;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1;
}

header{

}

.logo{
    width: 50px;
}